.container {
    margin: 0 auto;
    border: solid 1px blue;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.square {
    width: 50px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    background: #ccc;
    cursor: pointer;
    padding-top: 10px;
}

.container button {
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 40px;
}

.container label {
    position: absolute;
    right: 0;
    bottom: 0;
}