#dashboard {
    text-align: center;
    margin-bottom: 40px;
}

#dashboard > div > span {
    margin: 0 10px;
}

.container {
    margin: 0 auto;
    border: solid 1px blue;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.square {
    width: 50px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    background: #ccc;
    cursor: pointer;
    padding-top: 10px;
}

.container label {
    position: absolute;
    right: 0;
    bottom: 0;
}

.invalid {
    background: red;
}